.el-drawer__header {
  justify-content: space-between !important;
}

.el-drawer__close-btn {
  max-width: fit-content !important;
}

.el-drawer {
  @apply bg-Gray-b2 #{!important};
}
.el-input__wrapper,
.el-select__wrapper {
  @apply bg-Gray-b1 border-0 shadow-none hover:shadow-none active:shadow-none focus:shadow-none text-Gray-b6 #{!important};

  &.is-focus,
  &.is-hovering:not(.is-focused),
  &.is-focused {
    box-shadow: 0 0 0 1px #f8bf2d76 inset !important;
  }
}

.el-date-editor.el-input__wrapper {
  @apply shadow-none hover:shadow-none #{!important};
}

.el-range-editor.is-active:hover,
.el-range-editor.is-active {
  box-shadow: 0 0 0 1px #f8bf2d76 inset !important;
}

.el-date-table td.today .el-date-table-cell__text {
  @apply text-Gray-b1 #{!important};
}

.el-date-table td.end-date .el-date-table-cell__text,
.el-date-table td.start-date .el-date-table-cell__text {
  @apply bg-Primary #{!important};
}

.el-date-editor .el-range-input,
.el-date-editor .el-range-separator,
.el-select__placeholder {
  @apply text-Gray-b6 #{!important};
}

.el-date-table td.available:hover,
.el-select-dropdown__item.is-selected {
  @apply text-Primary #{!important};
}

.highcharts-credits {
  @apply hidden #{!important};
}

.el-collapse-item__header,
.el-collapse-item__wrap {
  @apply bg-transparent text-Gray-b6 text-base #{!important};
}

.el-collapse {
  @apply border-y-0 #{!important};
}

.el-date-editor.el-input__wrapper {
  @apply max-w-[300px] #{!important};
}

.el-loading-spinner .path,
.el-loading-spinner .el-loading-text {
  @apply stroke-Primary text-Primary #{!important};
}

.background-gradiant {
  background: linear-gradient(
    240.39deg,
    rgba(30, 36, 41, 0) 37.45%,
    rgba(30, 36, 41, 0.741) 91.77%
  );
}

.line-less .highcharts-credits,
.line-less .highcharts-grid-line,
.line-less .highcharts-yaxis-grid {
  display: none !important;
}

.el-tabs__item {
  @apply text-Gray-b4 text-[14px] font-medium hover:text-Gray-b6 #{!important};

  &.is-active {
    @apply text-Gray-b6 #{!important};
  }
}

.el-tabs__nav-wrap:after {
  @apply bg-Gray-b3 #{!important};
}

.el-tabs__active-bar {
  @apply bg-Primary #{!important};
}

.widget {
  background: linear-gradient(
    197.86deg,
    #65590a -10.03%,
    #342a17 105.76%
  ) !important;
}
.el-select-dropdown__footer .option-input .el-input__wrapper {
  @apply h-[50px] rounded-xl text-Gray-b5 #{!important};
  .el-input__inner {
    @apply text-Gray-b5;
  }
}
.notifications {
  &.el-popper {
    @apply border-none #{!important};
  }
  .el-dropdown-menu {
    @apply bg-Gray-b2;
  }
  .el-popper__arrow:before {
    @apply bg-Gray-b2 border-Gray-b2 #{!important};
  }
  .el-dropdown-menu__item {
    @apply text-Gray-b5;
  }
  .el-dropdown-menu__item:not(.is-disabled):focus,
  .el-dropdown-menu__item:not(.is-disabled):hover {
    @apply bg-Gray-b1 text-Primary;
  }
}

.trade-icon {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
